# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [2]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=66)

In [8]:
X_train.shape

(404, 13)

In [9]:
y_train.shape

(404, 1)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
train = lr.fit(X_train, y_train)

In [18]:
train_pred = train.predict(X_train)
train_pred

array([[32.22955688],
       [17.56832714],
       [ 9.14797786],
       [13.68436835],
       [14.74254611],
       [31.87013952],
       [23.93446864],
       [21.50287988],
       [18.6630205 ],
       [24.85976688],
       [27.26261082],
       [27.98764736],
       [22.37755784],
       [13.69843663],
       [40.61983473],
       [ 8.47161469],
       [13.42406867],
       [26.66320378],
       [20.8726909 ],
       [26.94979284],
       [21.05143519],
       [32.84126517],
       [13.59188656],
       [13.17052078],
       [17.98168675],
       [27.33388053],
       [29.77968501],
       [20.03720275],
       [23.40146287],
       [21.93384465],
       [20.24060207],
       [11.44499879],
       [20.53912276],
       [34.35087924],
       [22.3470426 ],
       [15.21445872],
       [37.12899   ],
       [15.48146592],
       [23.40899237],
       [18.70427805],
       [23.15143788],
       [ 7.01365869],
       [33.37938246],
       [19.961371  ],
       [25.1198038 ],
       [18.07811608],
       [19.69509732],
       [18.442745  ],
       [ 8.64071702],
       [21.51156511],
       [37.15444923],
       [18.22483427],
       [21.35111005],
       [28.21467026],
       [15.57061875],
       [17.3041914 ],
       [30.1661192 ],
       [31.51098714],
       [15.96611842],
       [38.95760086],
       [34.11752774],
       [28.59841776],
       [10.00249275],
       [21.71811421],
       [16.98371532],
       [34.43140844],
       [21.46720945],
       [24.88229327],
       [16.09543439],
       [17.26273845],
       [13.62226777],
       [15.44491164],
       [23.80415791],
       [19.70939568],
       [15.80937007],
       [24.48162045],
       [10.12388735],
       [12.5432301 ],
       [ 9.62239898],
       [19.49292452],
       [31.68958566],
       [21.43626957],
       [16.28610271],
       [32.67484953],
       [19.33117702],
       [14.24199601],
       [11.35547422],
       [23.62142471],
       [ 9.40660392],
       [21.54544507],
       [24.3395797 ],
       [26.80433038],
       [16.356758  ],
       [36.96454919],
       [34.45313924],
       [18.43339782],
       [29.3984514 ],
       [25.48959644],
       [19.21725459],
       [ 6.05043734],
       [17.77481671],
       [13.05617172],
       [22.95005931],
       [13.6307124 ],
       [22.74287549],
       [25.62991677],
       [15.80146847],
       [17.94422652],
       [ 6.71875488],
       [24.84107209],
       [27.5875709 ],
       [27.09994178],
       [20.85729158],
       [16.92072147],
       [32.34672923],
       [24.83935344],
       [35.76767043],
       [22.49741724],
       [17.37337799],
       [25.34026675],
       [16.56751688],
       [24.94197973],
       [31.41033074],
       [28.33911981],
       [28.99662896],
       [22.01000461],
       [34.44438902],
       [18.6529867 ],
       [16.9023222 ],
       [20.29077281],
       [35.98360073],
       [18.68353804],
       [29.14068316],
       [28.15425629],
       [21.13873788],
       [16.89198196],
       [21.61555824],
       [22.11075354],
       [14.26472621],
       [34.1757858 ],
       [29.45640597],
       [24.84636903],
       [28.21110935],
       [23.685312  ],
       [23.93072382],
       [36.83402805],
       [35.79502165],
       [25.90337491],
       [14.68214832],
       [ 8.1136346 ],
       [ 3.81647069],
       [21.31869231],
       [23.97741097],
       [18.9738724 ],
       [24.27797191],
       [14.33426662],
       [21.50974739],
       [30.30916635],
       [18.07623997],
       [13.43755575],
       [29.31989814],
       [32.64667658],
       [37.75812715],
       [22.45731621],
       [13.06897173],
       [20.67443775],
       [29.26382112],
       [21.01664184],
       [23.57523643],
       [17.76291079],
       [27.33943652],
       [11.83641867],
       [17.18778661],
       [25.14245874],
       [16.88193615],
       [33.10142229],
       [30.43658907],
       [ 4.0600766 ],
       [19.47603726],
       [20.85428466],
       [31.64598686],
       [28.41458119],
       [35.60221438],
       [-4.29261245],
       [ 9.32690818],
       [25.78431616],
       [23.87468576],
       [24.85671726],
       [35.74104869],
       [15.79780519],
       [23.81538416],
       [22.51144867],
       [27.41521386],
       [ 1.35377419],
       [22.20283355],
       [28.28084344],
       [20.38882176],
       [14.35366106],
       [23.51918202],
       [24.36239849],
       [11.50526494],
       [15.98470311],
       [18.77979596],
       [32.62902079],
       [24.78712332],
       [33.72822415],
       [28.77565734],
       [29.17850681],
       [28.27988569],
       [15.38165946],
       [24.09330084],
       [25.09974659],
       [19.07866611],
       [17.22472966],
       [32.94703852],
       [19.74280227],
       [27.34198061],
       [36.49064281],
       [24.28140145],
       [19.05206584],
       [ 4.46696304],
       [34.99365034],
       [20.10630721],
       [30.72137262],
       [29.59582999],
       [ 2.34761292],
       [28.55549109],
       [21.22456756],
       [31.71483637],
       [34.33595684],
       [17.52076956],
       [27.37020639],
       [17.91199651],
       [12.08081754],
       [14.87348131],
       [14.49270523],
       [26.80025305],
       [36.66586711],
       [25.29172235],
       [19.78059241],
       [ 7.01470118],
       [19.76146148],
       [19.86136089],
       [23.38242441],
       [26.96138372],
       [10.52528933],
       [43.81401404],
       [19.68550263],
       [19.25050197],
       [18.31082901],
       [12.98308536],
       [17.55191281],
       [24.75160493],
       [16.74022357],
       [21.34703152],
       [35.45621223],
       [ 4.94146059],
       [31.20613671],
       [11.00883971],
       [18.4953821 ],
       [13.94103845],
       [22.55035083],
       [25.23374489],
       [30.41941569],
       [14.44572065],
       [18.04907586],
       [19.93763159],
       [18.94991161],
       [30.48724208],
       [21.87407116],
       [27.12122438],
       [16.462052  ],
       [25.53773852],
       [36.52558113],
       [19.2560839 ],
       [20.29327815],
       [13.05968545],
       [27.01983621],
       [31.9786579 ],
       [19.47414717],
       [22.26711285],
       [16.81438693],
       [21.20560149],
       [19.19198017],
       [11.86026783],
       [19.81842931],
       [35.23055468],
       [24.96062511],
       [39.66190737],
       [32.70750833],
       [21.43577704],
       [16.78777784],
       [27.76622598],
       [24.88882784],
       [20.73447869],
       [19.06202694],
       [29.55369038],
       [22.59723572],
       [29.61460967],
       [24.34882288],
       [23.60781906],
       [26.69068826],
       [19.3619025 ],
       [20.79768677],
       [40.47455048],
       [24.38167768],
       [15.77793746],
       [19.01196102],
       [13.93117926],
       [34.78582458],
       [41.75944941],
       [20.15927403],
       [18.76035997],
       [17.78266944],
       [23.71420752],
       [35.31061795],
       [19.65821481],
       [20.93384579],
       [22.48791652],
       [17.61001844],
       [23.64311521],
       [13.49768136],
       [31.4648951 ],
       [18.75012641],
       [24.75866222],
       [16.43773329],
       [21.84251834],
       [34.34871832],
       [24.43847686],
       [31.05061404],
       [32.20007925],
       [12.21197667],
       [16.82792328],
       [22.94029732],
       [18.33113477],
       [25.60342578],
       [20.82239757],
       [12.08373246],
       [17.41782992],
       [31.51713422],
       [ 8.72758616],
       [27.20478635],
       [17.09631191],
       [29.09837676],
       [26.68691678],
       [21.17921958],
       [21.40480331],
       [25.43798346],
       [22.75724634],
       [13.18044138],
       [16.80810007],
       [26.20460001],
       [21.26021615],
       [25.58564231],
       [17.62051902],
       [22.92602141],
       [24.85451912],
       [40.70508304],
       [33.65285116],
       [19.3668693 ],
       [15.23097909],
       [33.33859715],
       [16.53146117],
       [32.52707729],
       [20.7756604 ],
       [25.63590187],
       [15.28684616],
       [23.12818429],
       [29.32137727],
       [23.62566705],
       [27.34824414],
       [23.22073269],
       [39.50208562],
       [33.65264688],
       [ 8.82024957],
       [40.54214889],
       [30.21737936],
       [23.33210354],
       [21.9187758 ],
       [27.04390861],
       [21.69793256],
       [21.62335308],
       [25.73813477],
       [31.19104845],
       [19.42626206],
       [20.24281643],
       [14.51444333],
       [11.60897383],
       [28.68816952],
       [16.35403889],
       [28.51814603],
       [11.40796826],
       [19.90395422],
       [36.72975986],
       [32.71329683],
       [15.42483121],
       [14.43730147],
       [22.7891151 ],
       [23.28605758],
       [20.98277568],
       [23.86285497],
       [21.28255258],
       [17.72411586],
       [12.52074425]])

In [16]:
test_pred = train.predict(X_test)
test_pred

array([[11.85230551],
       [34.84114546],
       [30.1070265 ],
       [42.82578231],
       [19.19547111],
       [18.18205574],
       [23.13229461],
       [21.28863276],
       [37.27498141],
       [14.59726415],
       [24.78829435],
       [12.822256  ],
       [29.78111331],
       [25.94139985],
       [14.60910284],
       [24.73885733],
       [13.58008358],
       [17.4464738 ],
       [ 6.91730543],
       [12.89488538],
       [19.63297346],
       [20.79671791],
       [25.38560324],
       [31.85194503],
       [17.34769711],
       [30.93178734],
       [21.65119053],
       [21.60283044],
       [13.41419899],
       [24.33942724],
       [28.56233024],
       [32.42926028],
       [35.12128809],
       [16.00700801],
       [25.89808913],
       [24.97148375],
       [25.37798754],
       [27.5149225 ],
       [18.61827839],
       [18.7666789 ],
       [30.66154864],
       [22.72153884],
       [19.99406161],
       [38.41929357],
       [22.32334169],
       [16.76520941],
       [25.02701326],
       [14.42491633],
       [20.83271782],
       [21.51181331],
       [33.84902072],
       [15.2790418 ],
       [39.50497077],
       [27.63134301],
       [15.01798872],
       [17.91261638],
       [27.65851285],
       [18.92894932],
       [20.63285024],
       [23.49253503],
       [18.54401236],
       [19.05350215],
       [12.36716422],
       [19.66532765],
       [19.4166531 ],
       [ 6.50778545],
       [16.15861678],
       [23.51565207],
       [24.28718609],
       [16.74888956],
       [ 5.71779021],
       [22.07342181],
       [22.99423202],
       [16.96088953],
       [24.11726432],
       [30.61418572],
       [35.69806558],
       [ 6.29087339],
       [19.55927609],
       [ 4.96640056],
       [31.28527779],
       [13.07323449],
       [19.53727589],
       [26.28992293],
       [26.1477158 ],
       [33.05126819],
       [34.48027091],
       [23.53841457],
       [23.15495533],
       [30.11291597],
       [22.63870787],
       [42.84729226],
       [20.17425451],
       [18.64739597],
       [21.24742853],
       [12.73662554],
       [21.53727867],
       [26.47269905],
       [26.111005  ],
       [29.44270514],
       [15.93764829],
       [20.75748917]])

## 3. Calculate and print R-squared for both the training and the testing set.

In [19]:
from sklearn import metrics

In [21]:
train_r2 = metrics.r2_score(y_train, train_pred)
train_r2

0.7205414401988551

In [23]:
test_r2 = metrics.r2_score(y_test, test_pred)
test_r2

0.8111288663608656

## 4. Calculate and print mean squared error for both the training and the testing set.

In [27]:
train_mean_sq_error = metrics.mean_squared_error(y_train, train_pred)
test_mean_sq_error = metrics.mean_squared_error(y_test, test_pred)

In [28]:
print(train_mean_sq_error)
print(test_mean_sq_error)

23.648267814700898
15.78640412674494

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [29]:
train_mean_abs_error = metrics.mean_absolute_error(y_train, train_pred)
test_mean_abs_error = metrics.mean_absolute_error(y_test, test_pred)

In [30]:
print(train_mean_abs_error)
print(test_mean_abs_error)

3.3756597628891702
2.9763875053513487

## Classification Model Evaluation

In [32]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [33]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [43]:
y['class']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: class, Length: 150, dtype: int64

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [36]:
from sklearn.linear_model import LogisticRegression

In [39]:
log = LogisticRegression(max_iter=10000)

In [46]:
log.fit(
    X=X_train,
    y=y_train['class']
)

LogisticRegression(max_iter=10000)

In [47]:
train_log_pred = log.predict(X_train)
test_log_pred = log.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [48]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [49]:
train_acc = accuracy_score(
    y_true=y_train,
    y_pred=train_log_pred
)
test_acc = accuracy_score(
    y_true=y_test,
    y_pred=test_log_pred
)

In [50]:
print(train_acc)
print(test_acc)

0.9833333333333333
0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [52]:
from sklearn.metrics import balanced_accuracy_score

train_b_acc = balanced_accuracy_score(
    y_true=y_train,
    y_pred=train_log_pred
)
test_b_acc = balanced_accuracy_score(
    y_true=y_test,
    y_pred=test_log_pred
)

In [53]:
print(train_b_acc)
print(test_b_acc)

0.982905982905983
0.9696969696969697

## 10. Calculate and print the precision score for both the training and the testing set.

In [56]:
train_prec = precision_score(
    y_true= y_train,
    y_pred=train_log_pred,
    average = None
)
print(train_prec)

[1.         1.         0.95121951]

In [58]:
test_prec = precision_score(
    y_true= y_test,
    y_pred=test_log_pred,
    average = None
)
print(test_prec)

[1.         1.         0.91666667]

## 11. Calculate and print the recall score for both the training and the testing set.

In [61]:
train_recal = recall_score(
    y_true=y_train,
    y_pred=train_log_pred,
    average = None
)
print(train_recal)

[1.         0.94871795 1.        ]

In [63]:
test_recal = recall_score(y_true = y_test,
                         y_pred = test_log_pred,
                         average = None)
print(test_recal)

[1.         0.90909091 1.        ]

## 12. Calculate and print the F1 score for both the training and the testing set.

In [66]:
f1_train = f1_score(
    y_true=y_train,
    y_pred=train_log_pred,
average = None)
print(f1_train)

[1.         0.97368421 0.975     ]

In [68]:
f1_test = f1_score(
y_true = y_test,
y_pred = test_log_pred,
average = None)

print(f1_test)

[1.         0.95238095 0.95652174]

## 13. Generate confusion matrices for both the training and the testing set.

In [92]:
y_train['class']

39     0
53     1
79     1
10     0
50     1
      ..
8      0
73     1
144    2
118    2
99     1
Name: class, Length: 120, dtype: int64

In [75]:
from sklearn.metrics import confusion_matrix

In [95]:
train_crosstab = pd.crosstab(y_train['class'], train_log_pred)
train_crosstab

col_0   0   1   2
class
0      42   0   0
1       0  37   2
2       0   0  39

In [78]:
train_matrix = confusion_matrix(
    y_true = y_train,
    y_pred = train_log_pred)

train_matrix

array([[42,  0,  0],
       [ 0, 37,  2],
       [ 0,  0, 39]])

In [97]:
test_crosstab = pd.crosstab(y_test['class'], test_log_pred)
test_crosstab

col_0  0   1   2
class
0      8   0   0
1      0  10   1
2      0   0  11

In [98]:
test_matrix = confusion_matrix(
    y_true = y_test['class'],
    y_pred = test_log_pred)

train_matrix

array([[42,  0,  0],
       [ 0, 37,  2],
       [ 0,  0, 39]])

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.